.flex-container {
  display: flex;
  margin-right: 15px;
  margin-bottom: 15px;
}
.block {
  width: 100px;
  height: 100px;
  display: flex;
}
/** Первая комбинация цветовой гаммы сайта **/
.midnightBlue {
  background-color: #1a2e5c;
}
.steelBlue {
  background-color: #1e65a7;
}
.royalOrange {
  background-color: #f2a104;
}
.cadetBlue {
  background-color: #73a2c0;
}
.forestGreen {
  background-color: #00743f;
}
/** / Первая комбинация цветовой гаммы сайта **/

/** Вторая комбинация цветовой гаммы сайта **/
.black {
  background-color: #04060f;
}
.darkSlateGray {
  background-color: #03353E;
}
.darkCyan {
  background-color: #0294A5;
}
.darkGrey {
  background-color: #A79C93;
}
.redBrown {
  background-color: #C1403D;
}
/** / Вторая комбинация цветовой гаммы сайта **/

/** Третья комбинация цветовой гаммы сайта **/
.black {
  background-color: #04060f;
}
.darkSlateGray {
  background-color: #03353E;
}
.darkCyan {
  background-color: #0294A5;
}
.darkGrey {
  background-color: #A79C93;
}
.redBrown {
  background-color: #C1403D;
}
/** / Третья комбинация цветовой гаммы сайта **/
.darkBlue {
  background-color: #003D73;
}
.deepBlue {
  background-color: #0878A4;
}
.aqua {
  background-color: #1ECFD6;
}
.khaki {
  background-color: #ffde72;
  /*#EDD170;*/
}
.indianRed {
  background-color: #C05640;
}
